!!!
%html
  %head
    %title California Alerts
    %meta{:charset => 'utf-8'}
    %meta{:content => 'IE=8, IE=9, IE=11 IE=edge, chrome=1', :http => {equiv: 'X-UA-Compatible'}}
    %meta{:name => 'viewport', :content => 'initial-scale=1, maximum-scale=1'}

    = csrf_meta_tags

    = stylesheet_link_tag    'application', 'media' => 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application'
    %script{:src => "//d3js.org/d3.v3.min.js"}
    %script{:charset => "utf-8", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src => "jquery.tipsy.js", :type => "text/javascript"}

  %body
    .primary-header
      = render partial: 'shared/header', locals: {partial_logo: 'logo-blue.svg'}
    = yield
    = render partial: 'shared/footer'
    :javascript
      window.smartlook||(function(d) {
      var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
      var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
      c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
      })(document);
      smartlook('init', 'cb3f4a9d51c16c0f0ef4ad8d1f4f1a41c51ce2dd');
