%footer
  .container
    %ul
      %li=link_to t('footer.residents'), login_pages_path, id: "nav_residents_footer"
      %li=link_to t('footer.government'), alarms_path, id: "nav_government_footer"
      %li=link_to t('footer.about'), root_path(:anchor => "description-jump"), id: "nav_about_footer"
      %li
        %span
          %strong=t('footer.contact')
        .address
          %p=t('footer.company')
          %p=t('footer.street')
          %p=t('footer.address')
          %p=t('footer.phone_number')

    .contact-info
      = link_to 'mailto:hello@californiaalert.ca', target: '_blank' do
        = image_tag 'mail.svg', alt: 'email'
      = link_to '#', target: '_blank' do
        = image_tag 'Facebook.svg', alt: 'facebook'
      = link_to '#', target: '_blank' do
        = image_tag 'Twitter.svg', alt: 'twitter'
